html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../../wwwroot/pilt/barber.jpg');
}

.image {
    width: 550px;
    height: 333px;
    text-align: center;
}
th, td, h1, h2, h3, h4, label {
    color: whitesmoke;
}
body {
    background: #1b2631;
}